---
- hosts: all
  become: yes
  tasks:
    - name: Install required packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        update_cache: yes

    - name: Install Docker
      apt:
       name: docker.io
       state: installed

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes
